<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

	<title>CUSTOMER CRM</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
<!--===============================================================================================-->
</head>
<body>


	<div class="container-contact100">
		<div class="wrap-contact100">
			<form class="contact100-form validate-form">
				<span class="contact100-form-title">
					CUSTOMER CRM
				</span>


				<div class="wrap-input100 input100-select">
					<span class="label-input100">Destination type</span>
					<div>
						<select class="input100" name="dest_type">
							<option value="hill_side">Hillside</option>
							<option value="beach">Beach</option>
							<option value="back_water">Back water</option>
						</select>
					</div>
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate="Travel distance is required">
					<span class="label-input100">Maximum travel in km</span>
					<input class="input100" type="number" name="travel_distance" placeholder="Enter Travel distance">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate="Ratings is required">
					<span class="label-input100">Ratings</span>
					<input class="input100" type="number" name="rating" placeholder="Enter Rating">
					<span class="focus-input100"></span>
				</div>

				<input type="submit" name="submit-form" class="contact100-form-btn" style="background:#a64bf4" value="Submit">
			</form>
		</div>
	</div>





</body>
</html>
