<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

	<title>CUSTOMER CRM</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
<!--===============================================================================================-->
</head>
<body>


	<div class="container-contact100">
		<div class="wrap-contact100">
			<form class="contact100-form validate-form">
				<span class="contact100-form-title">
					STAY LIST
				</span>

				{% if bookings %}

					{% for booking in bookings %}
					<div class="wrap-input100 input100-select">
						<a href="#"><h2>{{booking.stay.stay_name}}</h2></a>
						<p>Rating : {{booking.rating}}</p>
						<p>Distance : {{booking.stay.loc}}</p>
					</div>

					{% endfor %}
				{% else %}
					<div class="wrap-input100 input100-select">
						<h2>No results found</h2>
					</div>
				{% endif %}


			</form>
		</div>
	</div>





</body>
</html>
